form{
  display: inline;
 width: 20%;
 padding: 10px 10px;
}

.input_div{
  display: flex;
  flex-direction:column;
}

.input_container{
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

textarea{
  padding-bottom: 50px;
  padding-right: 100px;
  display: inline-block;
}

input{
  padding: 10px;
}


input[type=submit]{
  color: white;
  background-color: #2E90D4 ;
  width: 65px;
  
}
